<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="charset=utf-8" />
		<title>Carbon Emissions Globe :: by Robbie Tilton</title>
		<meta name="description" content="A 3D data vizualization of the globes carbon emissions from 2006 to 2010">
		<meta name="author" content="Robbie Tilton">
		<meta name="keywords" content="carbon, emissions, data, viz, visualization, three.js, 3d, globe, smoke, webGL">

		<link rel="stylesheet" type="text/css" href="styles/base.css" />
	</head>
	<body>
		<div id="three"></div>

		<h1>Carbon Emissions</h1>
		<ul id="dates">
			<li class="active">2010</li>
			<li class="non-active">2009</li>
			<li class="non-active">2008</li>
			<li class="non-active">2007</li>
			<li class="non-active">2006</li>
		</ul>
		<ul id="nav">
			<li class="non-active"><img src="media/icon-piechart.png"/></li>
			<li class="active"><img src="media/icon-globe-active.png"/></li>
			<li class="non-active"><img src="media/icon-barchart.png"/></li>
		</ul>

		<div id="lightbox"></div>

		<!-- <div id="pie-chart"></div> -->


		<script charset="utf-8" src="scripts/jquery.js"></script>
		<script charset="utf-8" src="scripts/nav.js"></script>
		<script charset="utf-8" src="scripts/three.js"></script>
		<script charset="utf-8" src="scripts/skip.js"></script>

		<script charset="utf-8" src="scripts/highcharts.js"></script>
		<script charset="utf-8" src="scripts/mypiechart.js"></script>
		<!-- <script src="http://mrdoob.github.com/three.js/examples/fonts/helvetiker_regular.typeface.js"></script> -->
		<script charset="utf-8" src="scripts/application.js"></script>
	
	</body>
</html>