<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="styles/base.css" />
		<title>Three.js Earth Example</title>
	</head>
	<body>
		<div id="three"></div>

		<div id="barChart"></div>

		<div id="regionsWrapper">
			<div id="regions">
				<li>North America</li>
				<li>Central & South America</li>
				<li>Europe</li>
				<li>Eurasia</li>
				<li>Africa</li>
				<li>Middle East</li>
				<li>Asia</li>
			</div>
		</div>

		<script charset="utf-8" src="scripts/jquery.js"></script>
		<script charset="utf-8" src="scripts/barChart.js"></script>
		<script charset="utf-8" src="scripts/three.js"></script>
		<script charset="utf-8" src="scripts/skip.js"></script>
		<!-- <script src="http://mrdoob.github.com/three.js/examples/fonts/helvetiker_regular.typeface.js"></script> -->
		<script charset="utf-8" src="scripts/application.js"></script>
	
	</body>
</html>