body
{
	margin: 0;
	padding: 0px;
	background-color: #FFF;
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
	font-size:    9pt;
	line-height: 15pt;
}

input{margin: 0px; padding: 0px; position: relative; float: left; width: 13px; height: 13px;}


video, canvas
{
	display: block;
	background-color: #FFF;
}
#allow, #error
{
	display: none;
}
.pad
{
	padding: 8px;
}
.clear
{
	clear: both;
}

#camera{display: none;}
#observer{display: none;}
#domScreenWrapper{overflow: hidden;}