body
{
	margin: 0;
	padding: 0px;
	background-color: #FFF;
}

input{margin: 0px; padding: 0px; position: relative; float: left; width: 13px; height: 13px;}
button{width: 195px;}

video, canvas
{
	display: block;
	background-color: #FFF;
}
#allow, #error
{
	display: none;
}
.pad
{
	padding: 8px;
}
.clear
{
	clear: both;
}

#camera{display: none;}
#observer{display: none;}

#logo{width: 195px; height: 195px; float: left}
#domScreenWrapper{width: 832px; height: 624px; float: left}