

body
{
	margin: 0;
	background-color: #000;
	padding: 0;
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
	font-size:    9pt;
	line-height: 15pt;
}


canvas
{
	position: absolute;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	height: 600px;
	background-color: #222;
}
#help
{
	position: absolute;
	right:  24px;
	bottom: 24px;
}

