<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="styles/base.css" />
		<title>Three.js Earth Example</title>
	</head>
	<body>
		<div id="three"></div>
		<script charset="utf-8" src="scripts/jquery.js"></script>
		<script charset="utf-8" src="scripts/three.js"></script>
		<script charset="utf-8" src="scripts/skip.js"></script>
		<script src="http://mrdoob.github.com/three.js/examples/fonts/helvetiker_regular.typeface.js"></script>
		<script charset="utf-8" src="scripts/application.js"></script>
<!-- 		<div id="tag">Three.Js Earth Example - Using Bump mapping from an image and plotting points based on lat/long</div> -->
		
		<div id="tweetInfoContainer">
			<img id="tweetImg" src=""/>
			<h4>Username: <span id="username"></span></h4>
			<h4>Location: <span id="location"></span></h4>
			<p id="tweets"></p>
		</div>
			
		<!-- <script src="http://108.171.176.74:8080/socket.io/socket.io.js"></script>
		// <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
	</body>
</html>