body{margin: 0; padding: 0px; background-color: #FFF; line-height: 15pt;}

#error{display: none;}


/* DOM ELEMENTS */
input{margin: 0px; padding: 0px; position: relative; float: left; width: 13px; height: 13px;}
#domScreenWrapper{position: absolute; left: 0px; top: 0px;}

/* CANVAS/VIDEO */
#intro{display: none}
#observer{display: none}
#camera{display: none}

/* TOGGLE BUTTONS */
#buttonWrapper{position: absolute; bottom: 0px; background-color: white; width: 155px; height: 25px; border-radius: 5px}
button{margin: 4px 0px 0px 0px;}