<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="styles/base.css" />
		<title>Three.js Earth Example</title>
	</head>
	<body>
		<div id="three"></div>
		<script charset="utf-8" src="scripts/jquery.js"></script>
		<script charset="utf-8" src="scripts/three.js"></script>
		<script charset="utf-8" src="scripts/skip.js"></script>
		<script charset="utf-8" src="scripts/application.js"></script>
		<div id="tag">Three.Js Earth Example - Using Bump mapping from an image and plotting points based on lat/long</div>
		
		<script type="text/javascript">
			// $.ajax({
			// 	crossDomain: true,
			//     type: "GET",
			//     url: "http://www.census.gov/population/popclockworld.html?callback=",
			//     context: $('#worldnumber').text()
			// })
			$.ajax({
				     url:"http://search.twitter.com/search.json?geocode=0,0,6400km",
				     dataType: 'jsonp', 
				     success:function(json){
				         console.log(json.results[0])
				     },
				     error:function(){
				         alert("Error");
				     },
				});
		</script>
	</body>
</html>