

body
{
	margin: 0;
	padding: 0px;
	background-color: #DDD;
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
	font-size:    9pt;
	line-height: 15pt;
}



.floatingBlock
{	
	display: block;
	float: left;
	width:  320px;
	height: 300px;
	margin: 0 8px 8px 0;
	overflow: hidden;
}
video, canvas
{
	display: block;
	background-color: #FFF;
}
#allow, #error
{
	display: none;
}
.pad
{
	padding: 8px;
}
.clear
{
	clear: both;
}

input{margin: 0px; padding: 0px; position: relative; float: left; width: 13px; height: 13px;}
#observer{position: absolute; z-index: -999px; top: 0px; left: 0px;}
#camera{display: none}
#domScreenWrapper{position: absolute; left: 0px; top: 0px;}