

body
{
	margin: 0;
	padding: 12px;
	background-color: #DDD;
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
	font-size:    9pt;
	line-height: 15pt;
}


#square{width: 300; height: 300;}

.floatingBlock
{	
	display: block;
	float: left;
	width:  320px;
	height: 300px;
	margin: 0 8px 8px 0;
	overflow: hidden;
}
video, canvas
{
	display: block;
	background-color: #FFF;
}
#allow, #error
{
	display: none;
}
.pad
{
	padding: 8px;
}
.clear
{
	clear: both;
}