

body
{
	margin: 0;
	background-color: black; /*#FFD700;*/
	padding: 0;
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
	font-size:   12px;
	line-height: 20px;
	overflow: hidden;
}


#three
{
	position: absolute;
	top: 0px;
	left: 0px;
	width:  100%;
	height: 100%;
}

#tag{position: absolute; z-index: 999; left: 0px; bottom: 0px; font-size: 11px; background-color: white; color: black; padding: 5px 10px 5px 10px;}

